<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="tempdata" data-view="Graph" data-title="温度趋势" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>