doctype html
html
    head
        title= title
    body
        form(method="post", action="/api")
            label(from="led") Led
            input(type='checkbox', checked=false, name="led")

            input(type="submit", value="OK")

