doctype html
html
    head
        title= title
        script(src='./scripts/jquery-2.1.4.min.js')

        //script(src='./scripts/echarts-all.js')
        //script(src='./scripts/echarts-example.js')

        script(src='./scripts/highcharts.js')
        //script(src='./scripts/highcharts-example.js')
        script(src='./scripts/highcharts-ajax-devices.js')
    body
        div(id="container" style="min-width: 310px; height: 400px; margin: 0 auto")
        div(id="main" style="min-width: 310px; height: 400px; margin: 0 auto")

